---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li>
        <div style="display: inline-block; width: 20%; position: relative;">
          {%- if post.featured_img -%}
            <img src="{{ post.featured_img }}" width="120" style="position: absolute; bottom:-10px; left:0px;"/>
          {%- endif -%}
        </div>

        <div style="display: inline-block; width: 75%">
          {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
          <span class="post-meta">{{ post.date | date: date_format }}</span>
          <h3>
            <a class="post-link" href="{{ post.url | relative_url }}">
              {{ post.title | escape }}
            </a>
          </h3>
          {%- if post.show_excerpts -%}
          <span class="post-meta">
            {{ post.excerpt }}
            </span>
          {%- endif -%}
          {%- if post.show_excerpts == False -%}
          <span class="post-meta">
            {{ post.excerpt }}
            </span>
          {%- endif -%}

        </div>

      </li>
      <hr>
      <br>
      {%- endfor -%}
    </ul>

    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
  {%- endif -%}

</div>
